*{ 
    margin: 0;
    padding: 0;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 1366px;
    list-style: none;
}
html,body{
    overflow-x: hidden ;
    width: 1366px;
    background-color: #fff !important;
}
header{  
    width: 1366px;
    background-color: #fb1c36;
    text-align: center;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
}
/* header */
header{
    position: absolute;
    width: 100%;
    height: 73px;
    background:  #fb1c36;
    
    display: flex;
    text-align: center;
    justify-content: space-around;
    z-index: 3;
    box-shadow: 0 15px 15px rgba(0,0,0,0.25);
}
.logo{
    margin: 0px 100px 0px 50px;
}
.group{
    margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    position: relative;
    display: flex;
    justify-content: space-around;
}
header ul li {
    list-style: none;
    margin: 0px 25px;
    line-height: 73px;
}
header ul li a{
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1rem;
}
header ul li a::after{
    content: '';
    line-height: 73px;
    border-bottom: 3px solid yellow;
    width: 100%;
    display: block;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    
}
header ul li a:hover{
    color: yellow;
}
header ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    color: yellow;
}

header.search{
    position: relative;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
}
.searchBox{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.25s ease-in-out;    
}
.searchBox .active{
   right: 0;
}
.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background-color: #fff;
    border-bottom: 1px solid rgba( 0,0,0,0.5);
}
.searchBtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}
.searchBtn .active{
    left: 0;
}
.closeBtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}
/* media menu */
@media(max-width: 800px){
    .searchBtn{
        left: 0;
    }
    .menuToggle{
        position: absolute;
        display: block;
        font-size: 20px;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }
    header.navigation{
        position: absolute;
       opacity: 0;
       visibility: hidden;
       left: 100%;

    }
    header.open .navigation{
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: calc(1366px - 80px);
        padding: 40px;
        border-top: 1px solid rgba( 0,0,0,0.5);
    }
    header.open .navigation li a{
        font-size: 20px;
    }
    .hide{
        display: none;
    }
}
/* end header */
/* -----section---- */
   
/* ----icon-bar----- */
.icon-bar {
    margin: 50px 0px 50px 1306px;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-top: 2px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
/* /// */
 /* margin: 26px 100px 46px 100px; */
    /* display: flex;
    grid-template-columns:1fr 1fr;
    display: grid;
    column-gap:24px;
    justify-content: space-between;
    width: 802px;
    height: 575px; */
    /* grid-template-columns:số cột;: chia cột( có thể cho các kích thước)
    grid-template-columns:100px 200px .... ;
    grid-template-columns:50% 20% ;  : có 2 ảnh , thì khai báo 2 kthước
    track line:là các dòng cột được đánh số ,bắt đầu từ số 1
    số cột: track line = số cột + 1; ==> số cột( số cột là số hình ảnh mình muốn chia thành mấy cột) là 2 , + thêm track line  là 3
    hàng cung vậy
   
   gap-count: column-count-1: column-couont là 2 cột- 1 thì mình có 1 gap (khoảng cách giữa các cột)
  grid-gap: grid-row-gap: là khoảng trống giữa các hàng
        grid-column-gap: là khoảng trống giữa các cột */
 
div.container-gh{
    width: 100%;
    /* overflow-x: hidden ;    */
}
div.rowww{
    margin: 100px 200px 0px 200px;
    display: flex;
    justify-content: space-between;
}

.col-6 button{
    border-color: #04AA6D;
    color: green;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
  
.col-6 button:hover {
    background-color: #04AA6D;
    color: white;
}
div.layout{
    margin: 80px 100px 30px 100px;
    display: flex;
}


.card-body{
    margin-left: 30px;
    line-height: 50px;
}
        
.card-body h3{
    font-size: 20px;
    color: #b11919;
}
.card-body p{
    font-size: 15px;
    color:darkgoldenrod ;
}
.giathanh{
    display: flex;
    font-size: 17px;
}
.giathanh input{
    margin-left: 20px;
    border-color: #bb0000;
}
/* ---end--- */
/* ---footer---- */
.container{
    position: relative;
    width: 1366px;
    z-index: -1;
}

.container .img{
    /* position: relative; */
    width: 1366px;
    height: 469px;
}
.kk{
    position: absolute;    
    border: 1px solid #fb1c36;
    width: 198px;
    height: 40px;  
    border-radius: 5px;
    margin: -131px 0px 9px 100px;
} 
.kk a{
    color: #fb1c36;
    font-size: 18px;
    font-family: 'Bold';
    list-style: none;
}
/* ++++++ */


div.row{
    position: relative;
    display: flex;
    background-color: #ea112a;
    width: 1366px;
    color: #fff;
    height: 300px;
    font-size: 16px;
    gap: 650px 200px 400px;
    column-gap:30px;
}
div.col{
    margin-left: 66px;
    width: 450px;
}
div.col div.dc p a{
    color: #fff;
}
div.col span i{
    color: #fff;
    border: 2px solid#fff;
    width: 30px;
    border-radius:50%;
    text-align: center;
    margin-right: 15px;
    margin-top: 15px;
}
div.col-4{
    display: block;
    margin-top:-21px;
    width: 317px;
   margin-left: 50px;
}
div.col-4 h4{
    margin-bottom: 30px;
}
div.col-4 ul{
    display: block;
}
div.col-4 ul li a{
    color: #fff;

}
div.col-3{
    margin-bottom: 24px;
    margin-right: 50px;
}



.support{
    margin-bottom: -304px;
    position: absolute;
    width: 1366px;
    height: 46px;
    background-color: #ad071a;
    justify-content: space-between;
    align-items: center;
}
.btn-2 {
    display:flex;
    width: 226px ;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    margin: -15px 0px -18px 1133px;
}
/* end */