*{ 
    margin: 0;
    padding: 0;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 1366px;
    list-style: none;
}
html,body{
    overflow-x: hidden ;
    width: 1366px;
}
header{  
    width: 1366px;
    background-color: #fb1c36;
    text-align: center;
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
a{
    text-decoration: none;
}
/* header */
header{
    position: absolute;
    width: 100%;
    height: 73px;
    background:  #fb1c36;
    
    display: flex;
    text-align: center;
    justify-content: space-around;
    z-index: 3;
    box-shadow: 0 15px 15px rgba(0,0,0,0.25);
}
.logo{
    margin: 0px 100px 0px 50px;
}
.group{
    margin-left: -100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul{
    position: relative;
    display: flex;
    justify-content: space-around;
}
header ul li {
    list-style: none;
    margin: 0px 25px;
    line-height: 73px;
}
header ul li a{
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.1rem;
}
header ul li a::after{
    content: '';
    line-height: 73px;
    border-bottom: 3px solid yellow;
    width: 100%;
    display: block;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    
}
header ul li a:hover{
    color: yellow;
}
header ul li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    color: yellow;
}

header.search{
    position: relative;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 10;
    cursor: pointer;
}
.searchBox{
    position: absolute;
    right: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 0 30px;
    transition: 0.25s ease-in-out;    
}
.searchBox .active{
   right: 0;
}
.searchBox input{
    width: 100%;
    border: none;
    outline: none;
    height: 50px;
    color: #333;
    font-size: 1.25em;
    background-color: #fff;
    border-bottom: 1px solid rgba( 0,0,0,0.5);
}
.searchBtn{
    position: relative;
    left: 30px;
    top: 2.5px;
    transition: 0.5s ease-in-out;
}
.searchBtn .active{
    left: 0;
}
.closeBtn{
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    scale: 0;
}
.closeBtn.active{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    scale: 1;
}
/* media menu */
@media(max-width: 800px){
    .searchBtn{
        left: 0;
    }
    .menuToggle{
        position: absolute;
        display: block;
        font-size: 20px;
        cursor: pointer;
        transform: translateX(30px);
        z-index: 10;
    }
    header.navigation{
        position: absolute;
       opacity: 0;
       visibility: hidden;
       left: 100%;

    }
    header.open .navigation{
        top: 80px;
        opacity: 1;
        visibility: visible;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        width: 100%;
        height: calc(1366px - 80px);
        padding: 40px;
        border-top: 1px solid rgba( 0,0,0,0.5);
    }
    header.open .navigation li a{
        font-size: 20px;
    }
    .hide{
        display: none;
    }
}
/* end header */


/* -----image---- */
div.image0 img{
    position: relative;
    margin-top: 73px;
    z-index: -1;
}

div.icon144{
    position: absolute;
    display: block ;
    top: 850px;
    left: 110px;
}
div.icon144 li a{
    display: flex;
    font-size: 16px;
    right: 17px;
}
div.icon144 li a.btn-111{
    margin: -510px -324px 0px 606px;
}
div.icon144 li a.ntb111{
    margin: -510px 8px 0px 335px;
}
div.icon144 ul{
    margin: 82px -1px;
}
div.icon144 .btn-111 img{
    margin-right:11px;
}
a.btn-111{
    
    border-radius: 5px;
    font-size: 16px;
    width: 238px;
    height: 44px;
    font-family: Arial,'Regular';
    background-color: #45448e;
    text-align: center;
    color: #fff;
    
}
a.ntb111{
    
    border-radius: 5px;
    font-size: 16px;
    width: 238px;
    height: 44px;
    font-family: Arial,'Regular';
    background-color: #ff8b03;
    text-align: center;
    color: #fff;
    
}

/* ++++++ */
.td{
    display: flex;
    height: 88px;
    right: 100px;
    left: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: #c6c6c6;
}
.td-1{
    display: flex;   
}
.td-1 img,h4{
    margin: 5px;
}
/* ++++ */
.image2{
    left: 100px;
    z-index: -1;
}
.image2 img{
    margin: 40px 0px 50px 100px;

}
/* ----icon-bar----- */
.icon-bar {
    margin: 50px 0px 50px 1306px;
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    margin-top: 2px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }


/* ---end--- */


/* -------section category---- */
section.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
div.category{
   font-size: 20px;
   width: 1366px;
  
   position: relative;
}
div.img{
    position: relative;
    z-index: -1;
}
.category p{
    font-size: 14px;
}
.comment-15{
    background-color: #fff;
    border-style: dotted;
    position: absolute;
    color: #828282;
    width: 375px;
    height: 138px;
    margin: -415px 100px;
    border-radius: 5px;
   
}
.comment-15:before,
.comment-15:after{
    content: "";
    position: absolute;
    bottom: -17px;
    left: 37px;
    width: 25px;
    height: 25px;
    color:#828282;
    border: dotted;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: -1;
    
}
.comment-15:after{
    bottom: -23px;
    left: 37px;
    border: 1px;
    z-index: 2;
}
.cmt55 img{
    font-size: 32px;
    margin: -19px 15px 3px -44px;
}
.cmt55{
    padding: 25px 20px 30px 60px;
    
}

.ten65{
    flex-wrap: wrap;
    margin: 50px 104px 0px -12px;
    display: flex;
    justify-content: space-around;

}
/* ++++ */
.comment-26{
    background-color: #fff;
    border-style: dotted;
    position: absolute;
    color: #828282;
    width: 375px;
    height: 138px;
    margin: -415px 493px;
    border-radius: 5px;
   
}
.comment-26:before,
.comment-26:after{
    content: "";
    position: absolute;
    bottom: -17px;
    left: 37px;
    width: 25px;
    height: 25px;
    color:#828282;
    border: dotted;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: -1;
    
}
.comment-26:after{
    bottom: -23px;
    left: 37px;
    border: 1px;
    z-index: 2;
}
.cmt-26 img{
    font-size: 32px;
    margin: -15px 18px 4px -47px;
}
.cmt-26{
    padding: 25px 20px 30px 60px;
    
}
.ten-28{
    flex-wrap: wrap;
    margin: 50px 104px 0px -12px;
    display: flex;
    justify-content: space-around;

}
/* ++++ */
.comment-36{
    background-color: #fff;
    border-style: dotted;
    position: absolute;
    color: #828282;
    width: 375px;
    height: 138px;
    margin: -415px 887px;
    border-radius: 5px;
   
}
.comment-36:before,
.comment-36:after{
    content: "";
    position: absolute;
    bottom: -17px;
    left: 37px;
    width: 25px;
    height: 25px;
    color:#828282;
    border: dotted;
    border-radius: 4px;
    transform: rotate(45deg);
    z-index: -1;
    
}
.comment-36:after{
    bottom: -23px;
    left: 37px;
    border: 1px;
    z-index: 2;
}
 .category >h4{
    font-size: 32px;
    color: #ff0000;
    text-decoration: none;
    margin: 45px 416px ;
    position: absolute;
    
} 
.cmt-38 img{
    font-size: 32px;
    margin: -19px 15px 3px -44px;
}
.cmt-38{
    padding: 25px 20px 30px 60px;
   
}
.ten-32{
    flex-wrap: wrap;
    margin: 50px 104px 0px -12px;
    display: flex;
    justify-content: space-around;

}
.cc4{
    position: absolute;
    margin: -367px 80px;
    width: 1200px;
     z-index: -2;
}
.cc4 button:first-child{
    font-size: 40px;
     border: none;
    display: flex;
    justify-content: flex-start;
    background: transparent;
    margin:-6px -16px;
    
}

.cc4 button:nth-child(2){
    font-size: 40px;
     border: none;
    display: flex;
    justify-content: flex-end;
    background: transparent;
    margin: -50px 1195px;
    
}
/* -------end---- */



/* ---section video--- */
.video{
    height: 417px;
    display: flex;
    position: relative;
    z-index: -1;
}
h2{
    font-size: 32px;
    top: 31px;
    color: #ff0000;
    display: flex;
    position: absolute;
} 
.list-video{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:17px;
    margin: 100px 0px 51px 0px;
}
.list-video p{
    margin-top: 25px;
    text-align: center;
    color: #4f4f4f;
}
/* ---end--- */


/* ---footer---- */
.container{
    position: relative;
    width: 1366px;
    z-index: -1;
}

.container .img{
    /* position: relative; */
    width: 1366px;
    height: 469px;
}
.kk{
    position: absolute;    
    border: 1px solid #fb1c36;
    width: 198px;
    height: 40px;  
    border-radius: 5px;
    margin: -131px 0px 9px 100px;
} 
.kk a{
    color: #fb1c36;
    font-size: 18px;
    font-family: 'Bold';
    list-style: none;
}
/* ++++++ */


div.row{
    position: relative;
    display: flex;
    background-color: #ea112a;
    width: 1366px;
    color: #fff;
    height: 300px;
    font-size: 16px;
    gap: 650px 200px 400px;
    column-gap:30px;
}
div.col{
    margin-left: 66px;
    width: 450px;
}
div.col div.dc p a{
    color: #fff;
}
div.col span i{
    color: #fff;
    border: 2px solid#fff;
    width: 30px;
    border-radius:50%;
    text-align: center;
    margin-right: 15px;
    margin-top: 15px;
}
div.col-4{
    display: block;
    margin-top:-21px;
    width: 317px;
   margin-left: 50px;
}
div.col-4 h4{
    margin-bottom: 30px;
}
div.col-4 ul{
    display: block;
}
div.col-4 ul li a{
    color: #fff;

}
div.col-3{
    margin-bottom: 24px;
    margin-right: 50px;
}



.support{
    margin-bottom: -304px;
    position: absolute;
    width: 1366px;
    height: 46px;
    background-color: #ad071a;
    justify-content: space-between;
    align-items: center;
}
.btn-2 {
    display:flex;
    width: 226px ;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    margin: -15px 0px -18px 1133px;
}
/* end */